.featuredItemContainer {
  grid-area: featuredItem;
  display: flex;
  justify-content: center;

  .featuredItem {
    max-width: 460px;
    width: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;

    .itemImageContainer {
      height: 432px;
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }

    }

    .itemInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .itemInfoGeneral {
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--text-1);

        .itemInfoAvatar {
          width: 48px;
          height: 48px;
        }
      }

      .itemInfoBid {
        display: flex;
        flex-direction: column;
        align-items: center;

        .caption {
          color: var(--text-2);
        }
      }

    }
  }
}

@media screen and (max-width: 460px) {
  .itemInfoTitle {

    p:first-child {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }
}